body{
	margin: 0px;
	position: relative;
	
}

h2{
	display: flex;
	align-items: center;
	justify-content: center;
    background-image: linear-gradient(to right,#f37123,#0fad00,#a44599,#d20264,#C5007D); 
    position: sticky;
    top: 0;
    margin-top: 0px;
    padding: 5px;
}